<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764412590523-ecd42k8fcidq4i77io9oi4quibv8lgob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764412590523-ecd42k8fcidq4i77io9oi4quibv8lgob</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>764412590523-3gl3viksm240l6lau46gm7c8v6rfh2fo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZNCE7eoKgplPiqiOHrKsX7l2Te2IkVo4</string>
	<key>GCM_SENDER_ID</key>
	<string>764412590523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.fluttermet</string>
	<key>PROJECT_ID</key>
	<string>checkapp-test-69d66</string>
	<key>STORAGE_BUCKET</key>
	<string>checkapp-test-69d66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764412590523:ios:badf23045649a39a5b2c9e</string>
</dict>
</plist>